body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: gray;
    min-height: 100vh;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

.banner img {
    width: 30%;
    height: auto;
    display: block;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

.contact-form form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    background-color: mintcream;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: mintcream;
    color: lightgoldenrodyellow;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.contact-form input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: lightgoldenrodyellow;
    text-align: center;
    padding: 10px;
}
